@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

.user-post{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: auto;
    min-height: 80px;
    background-color: #5B4132;
    margin-bottom:30px;
    border-radius: 25px;
    color: #EFEAE4;
    font-family: 'Poppins';
    font-size: 15pt;
}

.post{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:25px;
    height: 30px;
    width: 100%;
}

.post-users {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right:auto;
    margin-top:25px;
    height: 30px;
}

    .profile-user-picture {
        margin-left:20px;
        height: 40px;
        width: 40px;
    }

    .post-username {
        margin-left:10px;
        font-weight: 600;
    }

    .post-date {
        margin-left:10px;
        font-weight: 400;
        font-size: 15px;
        margin-top: 18px;

    }
    .post-bestbro {
        margin-left:10px;
        width: 20px;
        height: 19px;
    }

    .post-word {
        margin-left:23px;
        margin-right:23px;
        font-weight: 400;
        font-size: 17px;

    }

    .post-buttons {
        margin-right:20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:auto
    }

        .post-edit {
            cursor: pointer;
            height: 25px;
            width: 25px;
        }

        .post-delete {
            cursor: pointer;
            margin-left:5px;
            height: 25px;
            width: 25px;
        }


.bio-container {
    position: fixed;
    z-index: 1;
    background-color: #EFEAE4;
    display: flex;
    top: 0; right: 0; bottom: 0; left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.bio-form-container {
    position: fixed;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EFEAE4;
    height: 100%;
    width: 650px
}

    .bio-title {
        position: relative;
        color:#38302B;
        font-family: 'Poppins';
        font-weight: 600;
        font-size:100px;
        margin-bottom: 0px;
        margin-right: auto;
    }

    .post-title {
        position: relative;
        color:#38302B;
        font-family: 'Poppins';
        font-weight: 600;
        font-size:100px;
        margin-bottom: 15px;
        margin-right: auto;
    }

    .bio-box {
        resize: none;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        background-color: #EFEAE4;
        border: 2px solid #38302B;
        border-radius: 15px;
        height: 200px;
        width: 630px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .bio-box:focus {
        outline:none;
    }

.bio-button-container {
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: auto;
    width: 650px

}

    .bio-submit {
        cursor: pointer;
        border: none !important;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 15pt;
        background-color: #5B4132;
        color: #EFEAE4;
        width: auto;
        height: 40px;
        border-radius: 10px;
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .bio-skip {
        cursor: pointer;
        border: none;
        margin-left: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #EFEAE4;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 15pt;
        color: #5B4132;
        width: auto;
        height: 40px;
        border-radius: 10px;
        margin-top: 15px;
    }

    .post-bestbro-check {
        width: 20px;
        height: 20px;
        margin-top: 15px;
        accent-color: #38302B
    }
    
    .post-bestbro-text {
        color: #5B4132;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 14pt;
        margin-top: 32px;
        margin-right:auto;
        margin-left:10px
    }


.home-title-container {
    margin-top: 93px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height:200px;}

    .home-post-button {
        cursor: pointer;
        width: 95px;
        height: 95px;
    }

    .home-title {
        position: relative;
        color:#38302B;
        font-family: 'Poppins';
        font-weight: 600;
        font-size:110px;
    }
    
    .home-message {
        color: #38302B;
        width: 650px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        margin-left: 110px;
    }

.mainContainer {
    overflow: auto;
    background-color:#EFEAE4 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;

}

.postContainer {
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 650px
}

.login {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 15pt;
    color: white;
    width: auto;
    height: 57px;
    border-radius: 18px;
    background-color: gray;
    margin-top: 15px
}

.navigation {
    position: sticky;
    top : 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

    .menu {
        padding-right: 35px;
        display: flex;
        flex-direction: column;
    }

    .logo {
        padding-left: 35px;
        width: 106px;
        height: 95px;
        cursor: pointer
    }

    .navigation-buttons {
        margin-bottom:20px;
        width: 70px;
        height: 70px;
        cursor: pointer
    }

/* Responsiveness */

@media screen and (max-width:1000px){
    .navigation {
        margin-top: 0px !important;
        position: absolute !important;
    }

    .navigation-buttons {
        width: 65px !important;
        height: 65px !important;
        z-index: 2;
        margin-left: 20px;

    }

    .logo {
        height: 73px !important;
        width: 80px !important;
    }

    .menu {
        flex-direction: row !important;
    }

    .home-title-container {
        margin-top: 105px;}

    .home-message {
        margin-left: 110px;
    }

    .users-message {
        margin-left: 170px;
    }

    
}

@media screen and (max-width:800px){
    .user-post{
        width: 500px !important;
    }

    .home-title-container {
        margin-top: 105px;
        width: 500px;}

    .home-title {
        font-size:100px;
    }

    .home-message {
        margin-left: 160px;
    }
}

@media screen and (max-width:600px){
    .user-post{
        width: 450px !important;
    }

    .home-title-container {
        width: 450px;}

    .home-message {
        margin-left: 210px;
    }

}